@CHARSET "UTF-8";

#content-translations-filter-options-form .form-item {
  float: left;
  clear: left;
  margin-bottom: 0;
}

#content-translations-filter-options-form .form-item .form-item {
  clear: none;
  padding: 5px 0;
  margin-right: 10px;
}

#content-translations-filter-options-form .form-actions {
  clear: left;
  float: left;
  margin-top: 0;
}

#content-translations-filter-options-form .form-item-limit-untranslated {
  clear: none;
}
